<div class="noPadding text-center">
    <div class="topWrapper col-md-12" id="ListOfCompetitions">
        <div class="container inside">
            <div class="desc respCenter">
                <h1>Om oss</h1>
            </div>
        </div>
    </div>
</div>


<div class="wrapper">
	<section class="bottomOfSet">
		<div class="container">
	        <div class="card projectPage noPadding col-lg-12 ">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 imgContainer">
                    <img src="img/Daniel.gif" alt="" title="">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		            <div class="cardBody">
		            	<h1>Daniel</h1>
		            	<p>Daniel är en målmedveten frisör som varit länge i branschen. Har mycket att lära många andra frisörer när det gäller klipp och färg; en expert! Delägare i Stockholm Hår och inom kort också salongens barberare. Socialt kompetent tvåbarnspappa som även avslöjat stort kunnande när det gäller att renovera frisörsalonger! Daniel kör moped och umgås helst med sina döttrar.</p>
		            </div>
		            <div class="cardFooter">
		            </div>
	            </div>
	        </div>
        </div>
   	</section>
   	<section class="bottomOfSet">
   		<div class="container">
         	<div class="card projectPage noPadding col-lg-12 ">
	        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 imgContainer">
                	<img src="img/Maria.gif" alt="" title="">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		            <div class="cardBody">
		            	<h1>Maria</h1>
		            	<p>Maria är delägare i Stockholm Hår. Tekniskt driven frisör och inspirerande motor i gänget. Den absoluta specialiteten är färg, det finns nästan ingen färgfråga hon inte kan svara på. Maria är född nyfiken och vill ständigt lära sig mer, hon går på alla visningar och hårmodeshower hon kan. På fritiden rider hon så mycket hon hinner, hästar är favoritdjuret nummer ett!</p>
		            </div>
		            <div class="cardFooter">
		            	<!-- <i class="fa fa-phone fa-2x"></i>
		            	<i class="fa fa-instagram fa-2x"></i> -->
		            </div>
	           </div>
        	</div>
        </div>
    </section>
 	<section class="bottomOfSet">
   		<div class="container">
         	<div class="card projectPage noPadding col-lg-12 ">
	        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 imgContainer">
                	<img src="img/Rebecca.gif" alt="" title="">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		            <div class="cardBody">
		            	<h1>Rebecca</h1>
		            	<p>Rebecca älskar jobbet som frisör. Att få vara kreativ och ha möjlighet till ständig utveckling är något hon uppskattar. Hon är utbildad av Joe-Yves Asmar som fortfarande är en stor inspirationskälla. Rebecca är en jäkel på löshår och backar inte för annorlunda frisyrer. På hennes frisörinstagram lägger hon upp många före- & efterbilder.</p>
		            </div>
		            <div class="cardFooter">
		            	<!-- <i class="fa fa-phone fa-2x"></i>
		            	<i class="fa fa-instagram fa-2x"></i> -->
		            </div>
	           </div>
        	</div>
        </div>
    </section>
    <section class="bottomOfSet">
   		<div class="container">
         	<div class="card projectPage noPadding col-lg-12 ">
	        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 imgContainer">
                	<img src="img/Nicolina.gif" alt="" title="">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		            <div class="cardBody">
		            	<h1>Nicolina</h1>
		            	<p>Nicolina är en utav våra entusiastiska frisörer där yrket är en livsstil. Galen i färg, galen i sitt yrke. Nu på senare tid har hon även utvecklat en kärlek för löshår; Hairtalk! Gick ut frisörgymnasiet som bästa elev med ett stipendium från Wella. Nicolina drömmer i färg och form och vaknar upp till att göra drömmarna verkliga.</p>
		            </div>
		            <div class="cardFooter">
		            	<!-- <i class="fa fa-phone fa-2x"></i>
		            	<i class="fa fa-instagram fa-2x"></i> -->
		            </div>
	           </div>
        	</div>
        </div>
    </section>

	<section class="bottomOfSet">
   		<div class="container">
         	<div class="card projectPage noPadding col-lg-12 ">
	        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 imgContainer">
                	<img src="img/Sandra.gif" alt="" title="">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		            <div class="cardBody">
		            	<h1>Sandra</h1>
		            	<p>Sandra föddes med penseln i handen och har sitt yrke som livsstil. Utbildad hos Björn Axén Academy och är galen i sina folieslingor (det finns dom som säger att hon sover med sina kära folieslingor!) Sandra älskar färg och har utbildat sig till Wella Master Color Expert. Färg är något som ligger Sandra mycket varmt om hjärtat. Uppsättningar är något hon även där gör i sömnen.</p>
		            </div>
		            <div class="cardFooter">
		            	<!-- <i class="fa fa-phone fa-2x"></i>
		            	<i class="fa fa-instagram fa-2x"></i> -->
		            </div>
	           </div>
        	</div>
        </div>
    </section>

    <section class="bottomOfSet">
   		<div class="container">
         	<div class="card projectPage noPadding col-lg-12 ">
	        	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 imgContainer">
                	<img src="img/Linnea.gif" alt="" title="">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
		            <div class="cardBody">
		            	<h1>Linnéa</h1>
		            	<p>Linnéa Linnéa är våran nya kreativa och utbildade frisör på Stockholm Hår, direkt influgen från Bermuda. Nåja, inte riktigt. Men nästan då hon arbetat som hårstylist där under en tid. Uppvuxen i Norrtälje där hon arbetat på salong, vidare mot Vaxholm och slutligen Stockholm där hon jobbar och bor tillsammans med pojkvän. Däremellan har hon bland annat hunnit arbeta som färgtekniker, assisterat på visningar och kurser. Hon har ett brinnande intresse för sitt yrke och utför alltid jobbet med stor passion! </p>
		            </div>
		            <div class="cardFooter">
		            	<!-- <i class="fa fa-phone fa-2x"></i>
		            	<i class="fa fa-instagram fa-2x"></i> -->
		            </div>
	           </div>
        	</div>
        </div>
    </section>

        <!-- <div class="card projectPage noPadding col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="img/nico.gif" alt="" title="">
            <div class="cardBody">
            	<h3>Nicolina Nordlund</h3>
            	<p>Nicolina är en utav våra entusiastiska frisörer där yrket är en livsstil. Galen i färg, galen i sitt yrke. Nu på senare tid har hon även utvecklat en kärlek för löshår; Hairtalk! Gick ut frisörgymnasiet som bästa elev med ett stipendium från Wella. Nicolina drömmer i färg och form och vaknar upp till att göra drömmarna verkliga.</p>
            </div>
           
        </div>
        <div class="card projectPage noPadding col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="img/nico.gif" alt="" title="">
            <div class="cardBody">
            	<h3>Nicolina Nordlund</h3>
            	<p>Nicolina är en utav våra entusiastiska frisörer där yrket är en livsstil. Galen i färg, galen i sitt yrke. Nu på senare tid har hon även utvecklat en kärlek för löshår; Hairtalk! Gick ut frisörgymnasiet som bästa elev med ett stipendium från Wella. Nicolina drömmer i färg och form och vaknar upp till att göra drömmarna verkliga.</p>
            </div>
           
        </div>
        <div class="card projectPage noPadding col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="img/nico.gif" alt="" title="">
            <div class="cardBody">
            	<h3>Nicolina Nordlund</h3>
            	<p>Nicolina är en utav våra entusiastiska frisörer där yrket är en livsstil. Galen i färg, galen i sitt yrke. Nu på senare tid har hon även utvecklat en kärlek för löshår; Hairtalk! Gick ut frisörgymnasiet som bästa elev med ett stipendium från Wella. Nicolina drömmer i färg och form och vaknar upp till att göra drömmarna verkliga.</p>
            </div>
           
        </div>
        <div class="card projectPage noPadding col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="img/nico.gif" alt="" title="">
            <div class="cardBody">
            	<h3>Nicolina Nordlund</h3>
            	<p>Nicolina är en utav våra entusiastiska frisörer där yrket är en livsstil. Galen i färg, galen i sitt yrke. Nu på senare tid har hon även utvecklat en kärlek för löshår; Hairtalk! Gick ut frisörgymnasiet som bästa elev med ett stipendium från Wella. Nicolina drömmer i färg och form och vaknar upp till att göra drömmarna verkliga.</p>
            </div>
           
        </div>
        <div class="card projectPage noPadding col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="img/nico.gif" alt="" title="">
            <div class="cardBody">
            	<h3>Nicolina Nordlund</h3>
            	<p>Nicolina är en utav våra entusiastiska frisörer där yrket är en livsstil. Galen i färg, galen i sitt yrke. Nu på senare tid har hon även utvecklat en kärlek för löshår; Hairtalk! Gick ut frisörgymnasiet som bästa elev med ett stipendium från Wella. Nicolina drömmer i färg och form och vaknar upp till att göra drömmarna verkliga.</p>
            </div>
           
        </div>
        <div class="card projectPage noPadding col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <img src="img/nico.gif" alt="" title="">
            <div class="cardBody">
            	<h3>Nicolina Nordlund</h3>
            	<p>Nicolina är en utav våra entusiastiska frisörer där yrket är en livsstil. Galen i färg, galen i sitt yrke. Nu på senare tid har hon även utvecklat en kärlek för löshår; Hairtalk! Gick ut frisörgymnasiet som bästa elev med ett stipendium från Wella. Nicolina drömmer i färg och form och vaknar upp till att göra drömmarna verkliga.</p>
            </div>
           
        </div> -->
        
</div>

