<div class="noPadding text-center">
	<div class="topWrapper col-md-12" id="ListOfCompetitions">
		<div class="container inside">
			<div class="desc respCenter">
				<h1>Priser</h1>
			</div>
		</div>
	</div>
</div>
<div class="sectionBackground">
	<img src="img/kms.jpg" class="img-responsive">
</div>
<!-- <section class="content">
	<h1>Nedan listas våra priser</h1>
</section> -->
<div class="content">
	<div class="container">
		<div class="wrapper">

			<div class="col-md-6">

				<table class="table"> 
					<thead> 
						<tr class="active"> 
							<th>Aktivitet</th> 
							<th>Priser</th> 
						</tr> 
					</thead> 
					<tbody> 
						<tr> 
							<td>Klippning</td> 
							<td>fr. 250 kr</td> 
						</tr> 
						<tr> 
							<td>Färgning</td> 
							<td>fr. 1250 kr</td> 
						</tr> 
						<tr> 
							<td>Klippning & färg</td> 
							<td>fr. 1600kr</td> 
						</tr> 
						<tr> 
							<td>Keratinbehandling, Kebelo</td> 
							<td>fr. 2500 kr</td> 
						</tr>
						<tr> 
							<td>Tvätt & fön</td> 
							<td>fr. 500 kr</td> 
						</tr> 
						<tr> 
							<td>Uppsättning</td> 
							<td>fr. 650 kr</td> 
						</tr> 
						<tr> 
							<td>Bruduppsättning</td> 
							<td>pris vid konsultation</td> 
						</tr> 
						<tr> 
							<td>Hårförlängning</td> 
							<td>pris vid konsultation</td> 
						</tr>  
						<tr> 
							<td>Färg fransar & bryn + plock</td> 
							<td>500 kr</td> 
						</tr> 
						<tr> 
							<td>Öronhåltagning</td> 
							<td>200 kr</td> 
						</tr>  
					</tbody> 
				</table>

			</div>
			<div class="col-md-6">
				<!-- <img src="img/kms.jpg" class="img-responsive" alt="" title=""> -->
				<div class="pushBox info">
					<h2>Visste du att?</h2>
				</div>
			</div>
		</div>
	</div>
</div>
