<div class="text-center" id="StartPageHeaderContent">
    <div class="imgOverflow">
    	<div class="visible-lg visible-md">
	    	<video autoplay muted loop id="bgvid" poster="">
	            <source src="img/video.mp4" type="video/mp4" />
	        </video>
        </div>
    </div>
	<div class="visible-xs visible-sm">
		<!-- <div class="bgContent">
			<img src="img/sth_logo.png" class="img-responsive">
		</div>-->
		<img src="img/video_all.gif" class="img-responsive">
	</div>
    <div class="welcomeContent">
        <!-- <h1 class="animated fadeInDown"> Kungsholmens frisör</h1>
        <p>Omvårdande experthjälp med ren passion</p>
      	<button id="StartPageTeaser">
    		Button
    	</button> -->
    </div>
</div>

<section>
	<div class="text-center">
		<i class="fa fa-chevron-down fa-2x"></i>

		<div class="container">
			<div class="text-center content">
				<p>Omvårdande experthjälp vid Fridhemsplan.
					Kunskap blandas med ren passion för yrket på frisörsalongen Stockholm Hår vid Fridhemsplan.
					Här får du hjälp med allt från ögonbrynen till festuppsättningen
					- inte minst får du experthjälp med klipp och färg. Känn dig hemma i goda, omvårdande händer och kom härifrån lika fixad som utomordentligt nöjd.
				</p>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="text-center">
		<div class="container">
			<div class="text-center">

				<h3>Vi sammarbetar med</h3>
				<div class="wrapper">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="pushBox" id="Wella">
							<img src="img/Wella_logo_black.png" class="img-responsive">
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="pushBox">
							<img src="img/americancrew.png" class="img-responsive">
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="pushBox" id="KM">
							<img src="img/km-logo.jpg" class="img-responsive">
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="pushBox" id="LP">
							<img src="img/logo_living_proof.png" class="img-responsive">
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="pushBox" id="Balmian">
							<img src="img/balmian.png" class="img-responsive">
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="pushBox" id="Sebastian">
							<img src="img/sebastian-professional-logo.png" class="img-responsive">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="container">
		<div class="text-center">
			<h3>Stcklm hår på instagram</h3>
		</div>
	 	<div id="InstaContainer" ng-init="initInsta()"></div>
	 	<div class="customNavigation text-center visible-lg visible-md">
  	<!-- 		<a href="" class="prev">
  				<i class="fa fa-caret-left fa-4x"></i>
  			</a>
  			<a href="" class="next">
  				<i class="fa fa-caret-right fa-4x"></i>
  			</a>
  		</div> -->
	 	<!-- <button class="nextInsta">Ladda fler</button> -->
	 </div>
</section>



