<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Hår test</title>

	<!--STYLES-->
	<link rel="stylesheet" type="text/css" href="dist/dependencies.min.css">
	<link rel="stylesheet" type="text/css" href="dist/app.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,600' rel='stylesheet' type='text/css'>

</head>
<body ng-app="sthlmHar" ng-controller="mainController">
	<header>
		<div id="NavigationWrapper"></div>
		<div class="wrapper">
			<span class="logo col-md-3">
				<a href="/">
					<!-- <img src="img/sth_logo.png" class="img-responsive"> -->
					STCKHLM HÅR
				</a>
			</span>
			<!-- NAVIGATION -->
			<div class=" col-md-9">
			    <ul class="navigation">
			        <li><a ui-sref="home">Hem</a></li>
			        <li><a ui-sref="about">Om oss</a></li>
			        <li><a ui-sref="findUs">Hitta till oss</a></li>
			        <li><a ui-sref="prices">Priser</a></li>
			    </ul>
		    </div>
	    </div>
	</header>

 	<div ui-view></div>
	 
	<!--SCRIPTS-->
	<script src="dist/dependencies.min.js"></script>
	<script src="dist/app.nomin.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

</body>
</html>